<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospitalbooking">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalBooking">
        <activity
            android:name=".DoctorInformationManagement.DoctorSummarizeReport"
            android:exported="false" />
        <activity
            android:name=".DoctorInformationManagement.EditDoctorProfile"
            android:exported="false" />
        <activity
            android:name=".AdminManagementOnAppointment.HospitalLocation"
            android:exported="false" />
        <activity
            android:name=".PopUpWindow"
            android:exported="false" />
        <activity
            android:name=".PrescriptionControl.PrescriptionDisplay"
            android:exported="false" />
        <activity
            android:name=".PrescriptionControl.PatientPrescription"
            android:exported="false" />
        <activity
            android:name=".AdminManagementOnAppointment.DoctorViewAppointment"
            android:exported="false" />
        <activity
            android:name=".MedicineOCR.DoctorFilterMedicine"
            android:exported="false" />
        <activity
            android:name=".MedicineListView"
            android:exported="false" />
        <activity
            android:name=".MedicineOCR.MedicineRecord"
            android:exported="false" />
        <activity
            android:name=".DoctorInformationManagement.DoctorInformation"
            android:exported="false" />
        <activity
            android:name=".DoctorInformationManagement.UploadImg"
            android:exported="false" />
        <activity
            android:name=".AdminManagementOnAppointment.CalendarTimePicker"
            android:exported="false" />
        <activity
            android:name=".CalendarTimePocker"
            android:exported="false" />
        <activity
            android:name=".FilterAppointment"
            android:exported="false" />
        <activity
            android:name=".GoogleLogInForAdminAndUser.Profile"
            android:exported="false" />
        <activity
            android:name=".GoogleLogInForAdminAndUser.UserLogin"
            android:exported="false" />
        <activity
            android:name=".UserRegister"
            android:exported="false" />
        <activity
            android:name=".DoctorInformationManagement.MedicineViewCustomer"
            android:exported="false" />
        <activity
            android:name=".BookingAppointment.MainPage"
            android:exported="false" />
        <activity
            android:name=".UserAppointmentManagement.DoctorAppointment"
            android:exported="false" />
        <activity
            android:name=".MedicineOCR.UserMedicine"
            android:exported="false" />
        <activity
            android:name=".BookingAppointment.AppointmentSelect"
            android:exported="false" />
        <activity
            android:name=".BookingAppointment.Feedback"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="ocr" />
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAK5L7y0dFzGnnT_EvBZdP3xvMOuzsNrsY" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>